<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880801425313-u7j7fsglcfk9djbo17o1gv0jh5m2hvfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880801425313-u7j7fsglcfk9djbo17o1gv0jh5m2hvfj</string>
	<key>API_KEY</key>
	<string>AIzaSyCFeZi_CnayZjDPfZNHSv03D0jyhAhihd0</string>
	<key>GCM_SENDER_ID</key>
	<string>880801425313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Albaylar.OurMessage</string>
	<key>PROJECT_ID</key>
	<string>ourmessage-b7515</string>
	<key>STORAGE_BUCKET</key>
	<string>ourmessage-b7515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880801425313:ios:1d74a994caed3195f68de0</string>
</dict>
</plist>